.masonry {
    column-count: 3;
    column-gap: 1.5em;
    -moz-column-count: 3;
    -moz-column-gap: 1.5em;
    margin-left: 100px;
    margin-right: 100px;
    padding: 80px 0px 0px 0px;
    background: #fff5dd;
}

.item {
    background-color: #fff5dd;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}
.item:hover{
  opacity:.7;
}

#Search::-webkit-search-cancel-button{
    display: none;
}
input {
 outline:none;
}


a{
  color:black;
  text-decoration: none;
  transition: all 0.2s linear;
}
a:hover{
  color:white;
}
.doggos{
  background: #FFDDCC;
}
.gallery{
  padding: 80px 0px 0px 0px ;
  width: 800px;
  display: block;
  margin: 0 auto;
}
#info{
  background: #FFDDCC;
  display: none;
  position:relative;
}

.info-text{
  text-align: center;
  padding-bottom: 80px;
}
h1{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 35px;
  letter-spacing:1;
}
p{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  line-height: 1.5;
  letter-spacing:.8;
}
.big{
  font-size: 30;
}
