.masonry {
    column-count: 3;
    column-gap: 1.5em;
    margin-left: 100px;
    margin-right: 100px;
    padding: 80px 0px 0px 0px;
    background: #fff5dd;
    float: left;
}

.item {
    background-color: #fff5dd;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}
.item:hover{
  opacity:.7;
}
.navbar{
  width: 100%;
  height: 60px;
  background:  #f9f6ef;
  background-color: #f9f6ef;
  position:fixed;
  top: 0;
  left: 0;
  opacity: .8;
  z-index: 100;
}
#Search::-webkit-search-cancel-button{
    display: none;
}
input {
 outline:none;
}
.nav-items{
	font-size: 20px;
	color: black;
	padding: 0px 10px 0px 10px;
	display: inline-block;
	float:right;
  font-family: 'Gloria Hallelujah', cursive;
  margin-top: 10px;

}
.navbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display:inline-block;
  float:right;
  margin-right: 280px;


}
#logo{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 30;
  color: black;
  display:inline-block;
  margin:0px 0px 0px 17px;
	float:left;
}
.container-1{
	top: 5px;
	width: 300px;
	white-space: nowrap;
	vertical-align: middle;
	position: absolute;
	right: 0;
	display:inline-block;

}
.container-1 input#search{
  width: 250px;
  height: 50px;
  background:  #f9f6ef;
  border: none;
  font-size: 10pt;
  float: right;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

}
.container-1 .icon{
  position: absolute;
  top: -10;
  margin-left: 30px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
	width: 20px;
	height: 20px;
}
a{
  color:black;
  text-decoration: none;
  transition: all 0.2s linear;
}
a:hover{
  color:white;
}
.doggos{
  background: #FFDDCC;
}
.gallery{
  padding: 80px 0px 0px 0px ;
  width: 800px;
  display: block;
  margin: 0 auto;
}
#info{
  background: #FFDDCC;
  display: none;
  position:relative;
}

.info-text{
  text-align: center;
  padding-bottom: 80px;
}
h1{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 35px;
  letter-spacing:1;
}
p{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  line-height: 1.5;
  letter-spacing:.8;
}
